# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore learning/experimental folders
impact_de/
genai/

# Django
db.sqlite3
media/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log